// ---------- APPOINTMENT-BLOCK ----------
.appointment-block {
  padding: 50px;
  background-image: url('../img/appointment/cover.png');
  border-radius: 15px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  height: auto;

  // ---------- APPOINTMENT-INPUT-FORM
  &__input-form {
    width: 598px;
    display: inherit;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    div {
      position: relative;

      button {
        position: absolute;
        top: 22px;
        right: 10px;
      }

      .input-form__name,
      .input-form__email,
      .input-form__select,
      .input-form__time {
        margin: 10px 0;
        width: 285px;
        height: 50px;
        border: 1px solid #bdbdbd;
        outline: none;
        border-radius: 5px;
        background-color: #f9f9f9;
      }
    }

    .input-form__message {
      label {
        textarea {
          margin-top: 10px;
          resize: none;
          padding: 10px;
          height: 140px;
          width: 578px;
          background-color: #f9f9f9;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          outline: none;
        }
      }
    }
  }

  // ---------- APPOINTMENT-BUTTON-BLOCK
  &__button-block {
    button {
      width: 215px;
      height: 58px;
      border-radius: 5px;
    }
  }
}

// ---------- APPOINTMENT-BLOCK-MEDIA ----------
@media (max-width: 991.98px) {
  .appointment-block {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    &__title {
      text-align: center;
    }

    &__input-form {
      padding: 40px;
      max-width: 100%;
    }
  }
}

@media (max-width: 767.98px) {
  .appointment-block {
    &__input-form {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0;
      margin: 0 0 40px 0;

      .input-form__message {
        display: flex;
        justify-content: center;
        label {
          text-align: center;
          textarea {
            width: 271px;
          }
        }
      }
    }
  }
}
