// ---------- APPOINTMENT-BLOCK ----------
.appointment-block {
  padding: 50px;
  background-image: url('../img/appointment/cover.png');
  border-radius: 15px;
  margin-bottom: 0;
  height: 575px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  // ---------- APPOINTMENT-FORM
  &__input-block {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 630px;
    height: 375px;

    label {
      position: relative;
      width: auto;

      margin: 5px 20px 5px 0;

      button {
        position: absolute;
        right: 12px;
        width: 25px;
      }


      .input-block__name,
      .input-block__email,
      .input-block__select,
      .input-block__time {
        height: 50px;
        width: 285px;
        background: #F9F9F9;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
      }

      .input-block__message {
        padding: 15px 21px;
        width: 567px;
        height: 140px;
        background: #F9F9F9;
        border: 1px solid #BDBDBD;
        border-radius: 5px;
        resize: none;
        outline: none;
      }

      .input-block__message::placeholder {
        text-align: left;
        vertical-align: top;
      }
    }

  }

  &__button-block {

    button {
      width: 215px;
      height: 58px;
    }
  }
}

