// ---------- ATTORNEYS ----------
.attorneys-block {
  .attorneys-block__person-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    .attorneys-block__profile {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 328px;
      height: 373px;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      box-shadow: 5px 5px 5px #fafafa;
      margin: 30px;

      .profile__info {
        height: 142px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        .common-text.profile-name {
          font-size: 16px;
          letter-spacing: 0.1px;
        }

        .common-text.profile-position {
          font-family: 'Open Sans', sans-serif;
          color: #737373;
        }

        .profile__social-buttons {
          img {
            margin: 0 7px;
          }
        }
      }
    }
  }
}
