// ---------- COLORS ----------
$brand-navy: #295c7a;
$brand-dark-blue: #252b42;
$brand-brown: #784f33;
$brand-flesh: #f6e4d7;
$brand-gold: #d0a144;

.bg-dark-blue {
  background-color: $brand-dark-blue;
}

.bg-navy {
  background-color: $brand-navy;
}

.bg-brown {
  background-color: $brand-brown;
}

.bg-gold {
  background-color: $brand-gold;
}
