// ---------- COLORS ----------
$brand-navy: #295C7A;
$brand-dark-blue: #252B42;
$brand-brown: #784F33;
$brand-flesh: #F6E4D7;
$brand-gold: #D0A144;

.bg-dark-blue {
  background-color: $brand-dark-blue;
}

.bg-navy {
  background-color: $brand-navy;
}

.bg-brown {
  background-color: $brand-brown;
}