// ---------- FONT-SETTINGS ----------
@font-face {
  font-family: 'Martel', sans-serif;
  src: url('../fonts/Martel-Regular.ttf')
}

* {
  font-family: Martel, sans-serif;
  font-style: normal;
  font-weight: normal
}