@use 'colors' as *;

// ---------- HEADER ----------
header {
  background-color: #9dc6e6;
  margin-bottom: 80px;
  justify-content: center;
  display: flex;

  .content {
    background-image: url('../img/header/cover.png');
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;

    // ---------- HEADER-NAVBAR
    .header__navbar {
      width: 100%;
      height: 102px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      &-title {
        display: flex;
        justify-content: center;
        width: 30%;


      }

      &-ul {
        display: flex;
        justify-content: right;
        width: 40%;
        min-width: 392px;

        ul li {
          margin: 0 13px;
          display: inline-block;
          font-family: 'Open Sans', sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 24px;
          text-align: center;
          letter-spacing: 0.2px;
          color: #737373;
        }
      }

      &-buttons {
        width: 15%;
        display: flex;
        justify-content: space-between;
        padding-right: 10px;
      }

    }

    // ---------- HEADER-BOOKING-BLOCK
    .header__booking-block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 721px;


      div {
        margin: 0 13px;
      }

      // ---------- HEADER-INFO-BLOCK
      .header__info-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 49%;
        height: 43%;

        .span-title {
          font-family: Montserrat, sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 30px;
          letter-spacing: 0.2px;
          color: #737373;
          width: 70%;
          text-align: left;
        }
      }

      .header__buttons-block {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: left;

        .header__quote-button {
          width: 182px;
          height: 48px;
          background: #784F33;
          border-radius: 37px;
          color: #ffffff;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
          margin: 0 4px;
        }

        .header__learn-button {
          width: 155px;
          height: 48px;
          border-radius: 37px;
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
          text-align: center;
          letter-spacing: 0.2px;
          color: $brand-brown;
          border: 1px solid $brand-brown;
          margin: 0 4px;
        }
      }


      // ---------- HEADER-BOOKING-FORM
      .header__booking-form {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        width: 23%;
        min-width: 300px;
        height: 619px;
        background-color: #ffffff;
        border-radius: 10px;

        .booking-form__input-block {

          .booking-title {
            font-family: "Open Sans", sans-serif;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.2px;
            color: $brand-dark-blue;
            margin-bottom: 4px;
          }

          label {
            position: relative;

            input {
              width: 245px;
              height: 50px;
              border-radius: 5px;
              border: 1px solid #BDBDBD;
              background-color: #F9F9F9;
            }

            button {
              position: absolute;
              right: 12px;
              top: 1px;
            }
          }
        }

        .booking-form__input-button {
          width: 248px;
          height: 58px;
          border-radius: 5px;
          color: #ffffff;
          font-weight: 700;
          font-size: 14px;
          line-height: 28px;
        }
      }
    }
  }
}


// ---------- HEADER-MEDIA ----------
@media (min-width: 799.98px) {
  header .content .header__navbar .navbar__title-adaptive-buttons {
    display: none;
  }
}

@media (max-width: 1070px) {
  header {
    .content {
      .header__navbar {
        .common-title-m {
          width: 35vw;
        }
      }

      .header__booking-block {

        .header__info-block {
          text-align: center;
          align-items: center;
        }

        .header__buttons-block {
          justify-content: space-evenly;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  header {
    .content {
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;


      .header__navbar-buttons {
        justify-content: center;
        min-width: 113px;
      }

      .header__navbar-title {
        text-align: center;
      }

      .header__navbar-ul {
        width: 20vw;
      }

      .header__navbar-buttons {
        display: none;
      }
    }
  }
}

@media (max-width: 750px) {
  header {

    .content {

      .header__navbar {
        flex-direction: column;
        background-color: #ffffff;
        width: 100%;
        height: 414px;

        &-title {
          display: flex;
          justify-content: space-evenly;
          width: 100%;

          .navbar__title-adaptive-buttons {
            width: 30%;
            justify-content: space-evenly;
          }
        }


        &-ul {
          display: flex;
          justify-content: center;

          ul li {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            text-align: center;
            letter-spacing: 0.2px;
            color: #737373;
          }
        }

        ul {
          li {
            margin: 15px;
          }
        }

        .header__navbar_buttons {
        }
      }
    }
  }
}

@media (max-width: 680px) {
  header {
    .content {
      .header__booking-block {
        width: auto;
        margin: 0 auto;
        height: 1269px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header__info-block {
          width: 100%;
          margin-bottom: 30px;

          .common-title-l {
            max-width: 320px;
            font-weight: 700;
            font-size: 40px;
            line-height: 50px;
            text-align: center;
            letter-spacing: 0.2px;
          }

          .span-title {
            text-align: center;
            width: 78%;
          }

          .header__buttons-block {
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            button {
              margin: 10px;
            }
          }

        }

        .header__booking-form {
          width: 320px;
          align-items: center;

          .booking-form__input-block {
            label {
              input {
                width: 245px;
              }
            }
          }
        }
      }
    }
  }
}
