// ---------- SCSS IMPORTS ----------
@use 'reset';
@use 'font';
@use 'colors' as *;
@use 'header';
@use 'advice';
@use 'about';
@use 'feedback';
@use 'attorneys';
@use 'appointment';
@use 'request';
@use 'footer';

// ---------- COMMON-SETTINGS ----------
section,
.content {
  max-width: 1440px;
  margin: 80px auto 40px auto;
}

// ---------- SECTION/CONTENT-MEDIA
@media (min-width: 575.98px) {
  section {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}
@media (min-width: 767.98px) {
  section {
    max-width: 720px;
  }
}
@media (min-width: 991.98px) {
  section {
    max-width: 960px;
  }
}
@media (min-width: 1199.98px) {
  section {
    max-width: 1440px;
  }
}

.section-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-bottom: 80px;

  .common-title-text {
    margin-top: 10px;
  }
}

a,
a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

// ---------- COMMON-TITLE-TEXT-SETTINGS ----------
.common-title-l {
  font-style: normal;
  font-weight: 900;
  font-size: 58px;
  line-height: 65px;
  letter-spacing: 0.2px;
  color: $brand-dark-blue;
}

.common-title-m {
  font-family: 'Martel', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: $brand-dark-blue;
}

.common-title-s {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: $brand-dark-blue;
}

.common-title-xs {
  font-family: 'Martel', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $brand-dark-blue;
}

.common-title-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #737373;
}

.common-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: $brand-dark-blue;
}

// ---------- BUTTON-SETTINGS ----------
button {
  cursor: pointer;
  transition: all 0.5s;
  border: none;
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
  color: #ffffff;
  border-radius: 5px;
}

button:hover {
  transform: scale(0.99);
  opacity: 0.8;
}

button:active {
  transform: scale(0.97);
  opacity: 0.6;
}

input {
  text-indent: 21px;
  outline: none;
}
